#wrap{
    /* border: 1px solid red; */
    height: 95dvh;
    display: flex;
}

#inner{
    width: 50%;
    height: 250px;
    margin: auto;
    vertical-align: middle ;
    padding: 100px;
    /* border: 1px solid red; */
}

#fBox{
	width: 120px;
	height: 110px;
    margin: 0 auto;
	overflow: hidden;
	position: relative;
}

#face{
    margin-left: -10px;
    position: absolute;
}

#btn{
    display: block;
    margin: 50px auto 0;
    font-size: 30px;
    padding: 5px 30px;
    border-radius: 500px;
    border: 0;
}
#btn:hover{
    background-color: rgb(231, 231, 231);
}